/*** MAIN ***/
body {
    background-color: black;
}

header,
footer {
    margin: 0 10%;
}



/*** HEADER ***/
header {
    margin: 0 5%;
}

header img {
    margin-left: 50px;
}

header #navbar-links {
    justify-content: flex-end;
    width: 100%;
}

header .nav-link {
    font-size: 0.9rem;
}



/*** FOOTER ***/
footer {
    margin: 60px 10%;
    text-align: center;
    color: grey;
}

footer h2 {
    margin: 60px 0;
}

footer .footer-info {
    margin: 60px 0;
}

/* footer .footer-info i.icon {
    font-size: 30px;
    color: grey;
    border-radius: 50px;
}

footer .footer-info i.icon::before {
    border-radius: 50px;
} */

footer .footer-info a {
    color: grey;
    margin: 0 10px;
    background-color: black;
    display: inline-block;
}



footer p {
    text-align: center;
}
